{% extends "base.html" %}
{% block title %}Hikki-Tyan Finder Alpha{% endblock %}
{% block content %}

<div class = "container">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-6">
            <h1>Tyan Finder!</h1>
            <p class="lead">найди свою ламповую няшу!</p>
          </div>
          <div class="col-lg-6" style="padding: 15px 15px 0 15px;">
            <div class="well sponsor">
          	<img src = "http://cs911.vk.me/u90870599/a_84f04bc7.jpg">
                <h4 style="margin-bottom: 0.4em;">Дорогой анон!</h4>
                <div class="clearfix">
                  <p>Устал бесконечно просматривать анкет тысяч шлюх?.</p>
                  <p>Мы это исправим!</p>
                </div>
              </a>
            </div>
          </div>
        </div>
</div>

<p class = "equal">
<div class = "container">

<p class = "equale">
<div class = "container">
<form class="form-horizontal" form action="/equale" onsubmit="send()" method='post' name="equale">
{{ form.csrf_token }}				
<fieldset>

<!-- Form Name -->
<legend>Поиск</legend>

<!-- Text input-->
<div class="control-group controls-row">
  <label class="control-label" for="a_input">Введите город</label>
  <div class="controls">
    {{form.city_field(class_='form-control')}}
    
  </div>
</div>

<!-- Select Basic -->
<div class="control-group">
  <label class="control-label" for="selectbasic">Выберите страну</label>
  <div class="controls">
    {{form.country_field (class_='form-control')}}
  </div>
</div>

<!-- Text input-->

 <label class="control-label" for="singlebutton"></label>
  <div class="controls">
    <input type="submit" value="Найти" class="btn btn-success">
    
  </div>
  {% for error in form.errors.number_a_field %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
   {% for error in form.errors.number_b_field %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    {% for error in form.errors.basic_field %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
</div>

  </div>
</div>

</fieldset>
</form>
</container>

</div>
{% endblock %}
