{% extends "base.html" %}
{% block title %}Hikki-Tyan Finder Alpha{% endblock %}
{% block content %}
<h2>Результаты поиска</h2>

 <div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
        
          
          <!--/stories-->
	{% if items %}
	{% for key, values in items.items() %}
		  <div class="row">    
            <br>
            <div class="col-md-2 text-center">
              <a class="story-img" href="#"><img src="{{ values['photo'] }}" style="width:70%;height:70%px" class="img"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3></h3>
              <div class="row">
                
		<p>{{ values['f_name'] }} {{ values['l_name'] }}</p>
                  <a href =http://vk.com/id{{ key }}><p class="lead"><button class="btn btn-default">Смотреть</button></p>
                  <p class="pull-right"><span class="label label-default">{{ values['inter'] }}</span></p>
                  <ul class="list-inline"><li>Друзей: {{ values['friends'] }}</li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 4 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 34 Shares</a></li></ul>
                  </div>
              </div>
              <br><br>
            </div>
		{% endfor %}
          </div>
          <hr>
          <!--/stories-->
	{% endif %}
          
          
          <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>
        
          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
{% endblock %}
